*body{
    padding:0 ;
font-style: oblique;
box-sizing: border-box; 

}
.container{
width: 100%;
height: 100vh;
background-color: aqua;
display:flex;
align-items: center;
justify-items: center;
}
.calculator{
background: #3a4452;
padding: 20px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;

}


.calculator form input{
border: 0;
outline: 0;
width: 60px;
height: 60px;
border-radius: 10px;
box-shadow: -10px -10px 30px rgba(255 255 255,0.1),10px 10px 30px rgba(0 0 0,0.1);
background: transparent;
font-size: 20px;
color: rgba(161, 128, 94);
cursor: pointer;
margin: 10px;
} 

form.display{
display: flex;
justify-content: flex-end;
margin: 20px 0;
background-color: transparent;
width: 300px;
}
form.display input{
    text-align: right;
    flex: right;
    font-size: 50px;
    box-shadow:none;
}

form input.operator{
    background-color: blanchedalmond;
}
form input.button{
    background-color: antiquewhite;
}

.display {
    width: 96%;
    background-color: white;
    border: none;
}

#button{
    width: 96%;

}